<div class="container">
  <div class="row">
    <div class="col-md-0"></div>
<div id = 'hotspots_form' class="col-md-5">
    <hr />
    <%= form_for @hotspot do |f| %>
      <div class="form-group">
        <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_field :street_address, placeholder: 'Address', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_field :city, placeholder: 'City', class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.text_field :state, placeholder: 'State', class: 'form-control'%>
      </div>
      <div class="form-group">
          <%= f.number_field :zip_code, placeholder: 'Zip code', class: 'form-control'%>
      </div>
      <div class="form-group">
          <%= f.text_field :phone_number, placeholder: 'Phone number', class: 'form-control'%>
      </div>
      <div class="form-group">
          <%= f.text_field :website, placeholder: 'Website', class: 'form-control'%>
      </div>
      <%= f.submit 'Save', class:'btn btn btn-primary buttons' %>
    <% end %>
    </div>
    <div class="col-md-7"></div>
  </div>
</div>
