
<h4>Donation Sites</h4>
  <div class="row">
    <div class="col-md-0"></div>
      <div id = 'show_form' class="col-md-5">
        <div class="list-group">
          <% @hotspots.each do |hotspot| %>
            <hr></hr>
              <div class="list-group-item active">
                <h4 class="list-group-item-heading"><tbody>
                      <tr><%= hotspot.title %></tr>
                </h4>
                  <p class="list-group-item-text"><%= hotspot.street_address %></p>
                  <p><%= hotspot.city %>, <%= hotspot.state %> <%= hotspot.zip_code %></p>
                  <p class="list-group-item-text"><%= hotspot.phone_number %></p>
                  <% if @current_location.present? %>
                  <p>Distance: <%= hotspot.get_distance(@current_location) %> miles</p>
                  <% end %>
              </div>
                  <p class="buttons">
                    <a href="http://maps.google.com/?q=<%="#{hotspot.latitude},#{hotspot.longitude}"%>" target="_blank" class="btn btn-primary">Directions</a>
                    <%= link_to 'Website', "#{hotspot.website}", target: :_blank, class: 'btn btn-primary' %>
                    <% if admin_signed_in? %>
                          <%= link_to 'Edit', "/hotspots/#{hotspot.id}/edit", class: 'btn btn-primary' %>
                          <%= link_to 'Delete', hotspot, method: :delete, class:'btn btn-primary' %>
                      <% end %>
                    <% end %>
                  </p>
          <hr></hr>
          <% if admin_signed_in? %>
                <%= link_to 'Add', "/hotspots/new", class: 'btn btn-primary' %>
          <% end %>
          <%= link_to 'New Search',"/static_pages/home", class: 'btn btn-primary' %>
        </div>
        <%= paginate @hotspots if @current_location.blank? %>

      </div>
    </div>
