<h3>Donation Sites</h3>
  <div class="row">
    <div class="col-md-0"></div>
      <div id = 'show_form' class="col-md-5">
        <div>
          <% @hotspots.each do |hotspot| %>
            <hr></hr>
              <div class="hotspot-div">
                <h4 class="hotspot-heading"><tbody>
                      <tr><%= hotspot.title %></tr>
                </h4>
                  <p class="hotspot-list-text"><%= hotspot.street_address %></p>
                  <p class="hotspot-alternate"><%= hotspot.city %>, <%= hotspot.state %> <%= hotspot.zip_code %></p>
                  <p class="hotspot-list-text"><%= hotspot.phone_number %></p>
                  <% if @current_location.present? %>
                  <p class="hotspot-alternate">Distance: <%= hotspot.get_distance(@current_location) %> miles</p>
                  <% end %>
              </div>
                  <p>
                    <a href="http://maps.google.com/?q=<%="#{hotspot.latitude},#{hotspot.longitude}"%>" target="_blank" class="btn btn-primary">Directions</a>
                    <%= link_to 'Website', "#{hotspot.website}", target: :_blank, class: 'btn btn-primary' %>
                    <% if admin_signed_in? %>
                          <%= link_to 'Edit', "/hotspots/#{hotspot.id}/edit", class: 'btn btn-primary' %>
                          <%= link_to 'Delete', hotspot, method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-primary' %>
                      <% end %>
                    <% end %>
                  </p>
          <hr></hr>
          <% if admin_signed_in? %>
                <%= link_to 'Add', "/hotspots/new", class: 'btn btn-primary buttons' %>
          <% end %>
          <%= link_to 'New Search',"/static_pages/home", class: 'btn btn-primary buttons' %>
        </div>
        <%= paginate @hotspots if @current_location.blank? %>

      </div>
    </div>
