<h4>Donation Sights</h4>
<div class="row">
    <div class="col-xs-0"></div>
    <div id = 'show_form' class="col-xs-5">
    <div class="list-group">
  <% @hotspots.each do |hotspot| %>
      <hr></hr>
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading"><tbody>
            <tr>
             <%= hotspot.title %>
            </tr>
          </h4>
      <p class="list-group-item-text"><%= hotspot.street_address %></p>
      <p><%= hotspot.city %>,<%= hotspot.state %>,<%= hotspot.zip_code %></p>
      <p class="list-group-item-text"><%= hotspot.phone_number %></p>
  <div class="col-xs-7"></div>
  <% if admin_signed_in? %>
        <%= link_to 'Edit', "/hotspots/#{hotspot.id}/edit", class: 'btn-btn default' %>
    <% end %>
    </a>
  <% end %>
  <hr></hr>
  <% if admin_signed_in? %>
        <%= link_to 'Add', "/hotspots/new", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'New Search',"/static_pages/home", class: 'btn btn-primary' %>
</div>