<h1> Hotspots </h1>

<% if @hotspots.empty? %>
    There are no hotspots
<% else %>

    <table>
      <thead>
        <tr>
          <th>Hotspots</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
    
        <% @hotspots.each do |hotspot| %>
          <tr>
           <%= hotspot.title %>
           <%= hotspot.street_address %>
           <%= hotspot.city %>
           <%= hotspot.state %>
           <%= hotspot.zip_code %>
           <%= hotspot.phone_number %>
           
          </tr>
        <% end %>
      </tbody>
    </table>

<% end %>