<!DOCTYPE html>
<html>
<head>
  <title>Diaper Bank of North Carolina</title>
  <meta name="viewport" content="initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <header>
      <div class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top" id="myNav">
        <div class="container">
          <div class="navbar-header">
            <div class="nav-flex-container">
                <%= link_to(image_tag("NCDB_logo_web.png", :class =>"rounded", :alt => "align-middle", :id => 'logo'), "http://ncdiaperbank.org", target: :_blank) %>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsing-nav" id="toggle-button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="collapsing-nav">
            <ul class="nav navbar-nav navbar-style">
              <li class="nav-item dropdown full-width"><%= link_to "Search", '/', class: 'nav-link' %></li>
              <li class="nav-item dropdown full-width"><%= link_to "About", 'https://ncdiaperbank.org/about-us/', target: :_blank, class: 'nav-link' %></li>
              <li class="nav-item dropdown full-width"><%= link_to "Donate", 'http://ncdiaperbank.org/donate/', target: :_blank, class: 'nav-link' %></li>
              <% if admin_signed_in? %>
                <li class="nav-item dropdown full-width"><%= link_to "Hotspots", '/hotspots', class: 'nav-link' %></li>
                <li class="nav-item dropdown full-width"><%= link_to "Create", '/hotspots/new', class: 'nav-link' %></li>
                <li class="nav-item dropdown full-width"><%= link_to('Logout', destroy_admin_session_path, method: :delete, class: 'nav-link') %></li>
              <% else %>
                <li class="nav-item dropdown full-width">
                  <%= link_to('Admin', new_admin_session_path, class: 'nav-link') %>
                </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </header>
    <div class="container body-container">
        <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %> flash-width">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= value %>
            </div>
          <% end %>
        <%= yield %>
    </div>
  </body>
</html>
