<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse align-middle"> 
      <div class="container">
        <div class = "navbar-brand">
          <%= link_to(image_tag("NCDB_logo_web.png", :class =>"rounded", :alt => "align-middle", height: 74, width: 310), "http://ncdiaperbank.org", target: :_blank) %>
        </div>
        <nav>
          <ul class="nav navbar-nav navbar-right align-center">
            <li><%= link_to "About", 'http://ncdiaperbank.org/about-us-2/', target: :_blank %></li>
            <li><%= link_to "Donate", 'http://ncdiaperbank.org/donate/', target: :_blank %></li>
            <% if admin_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>        
              </li>
            <% else %>
              <li>
                <%= link_to('Login', new_admin_session_path)  %>  
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>